<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.process.mapper.ProcessQuotaTableMapper">
    
    <resultMap type="ProcessQuotaTable" id="ProcessQuotaTableResult">
        <result property="id"    column="id"    />
        <result property="step"    column="step"    />
        <result property="vehicleModel"    column="vehicle_model"    />
        <result property="filePath"    column="file_path"    />
        <result property="uploadPerson"    column="upload_person"    />
        <result property="uploadTime"    column="upload_time"    />
    </resultMap>

    <sql id="selectProcessQuotaTableVo">
        select id, step, vehicle_model, file_path, upload_person, upload_time from process_quota_table
    </sql>

    <select id="selectProcessQuotaTableList" parameterType="ProcessQuotaTable" resultMap="ProcessQuotaTableResult">
        <include refid="selectProcessQuotaTableVo"/>
        <where>  
            <if test="step != null "> and step = #{step}</if>
            <if test="vehicleModel != null  and vehicleModel != ''"> and vehicle_model like concat('%', #{vehicleModel}, '%')</if>
            <if test="filePath != null  and filePath != ''"> and file_path = #{filePath}</if>
            <if test="uploadPerson != null  and uploadPerson != ''"> and upload_person like concat('%', #{uploadPerson}, '%')</if>
            <if test="uploadTime != null "> and upload_time = #{uploadTime}</if>
        </where>
    </select>
    
    <select id="selectProcessQuotaTableById" parameterType="Long" resultMap="ProcessQuotaTableResult">
        <include refid="selectProcessQuotaTableVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertProcessQuotaTable" parameterType="ProcessQuotaTable" useGeneratedKeys="true" keyProperty="id">
        insert into process_quota_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="step != null">step,</if>
            <if test="vehicleModel != null">vehicle_model,</if>
            <if test="filePath != null">file_path,</if>
            <if test="uploadPerson != null">upload_person,</if>
            <if test="uploadTime != null">upload_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="step != null">#{step},</if>
            <if test="vehicleModel != null">#{vehicleModel},</if>
            <if test="filePath != null">#{filePath},</if>
            <if test="uploadPerson != null">#{uploadPerson},</if>
            <if test="uploadTime != null">#{uploadTime},</if>
         </trim>
    </insert>

    <update id="updateProcessQuotaTable" parameterType="ProcessQuotaTable">
        update process_quota_table
        <trim prefix="SET" suffixOverrides=",">
            <if test="step != null">step = #{step},</if>
            <if test="vehicleModel != null">vehicle_model = #{vehicleModel},</if>
            <if test="filePath != null">file_path = #{filePath},</if>
            <if test="uploadPerson != null">upload_person = #{uploadPerson},</if>
            <if test="uploadTime != null">upload_time = #{uploadTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProcessQuotaTableById" parameterType="Long">
        delete from process_quota_table where id = #{id}
    </delete>

    <delete id="deleteProcessQuotaTableByIds" parameterType="String">
        delete from process_quota_table where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>